.sneaker_card_wrapper a {
    text-decoration: none;
}

.sneaker_card {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 20px 16px -16px rgba(0,0,0,0.2);
}

.sneaker_card:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
}

.sneaker_card_poster {
    transition: transform 300ms ease;
}

.sneaker_card_poster img {
    width: 250px;
}

.sneaker_card_poster:hover {
    transform: scale(1.05);
}

.sneaker_card_short_info {
    margin: 10px;
    height: 90px;
}

.sneaker_card_name {
    color: black;
    height: 60px;
}

.sneaker_cars_price_basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sneaker_cars_price_basket span {
    font-size: 20px;
    font-weight: bold;
    color: #ff0900;
}

.sneaker_card_buy {
    color: gray;
}

.sneaker_card_buy:hover {
    font-weight: bold;
}