.home_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 100px;
    column-gap: 70px;
}

.home_type_cards {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-between;
}

.sneaker_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 30px;
    row-gap: 30px;
    width: 1000px;

    border: 1px solid black;
}