extends container

block content
    div
        h3 In order to verify your email address, please open the following link:
        a(href=`${serverURL}/api/users/activate/${activation_link}`) Click to activate