.restore_password_wrapper {
    height: 500px;
}

.restore_password_form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.restore_password_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

.restore_password_input div {
    display: flex;
    flex-direction: column;
}

.restore_password_input input {
    width: 250px;
}

.restore_password_button {
    width: 120px;
    height: 30px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: darkslategrey;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.restore_password_button:hover {
    background-color: black;
}

.restore_password_message {
    color: green;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.successfully_password_changed {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.successfully_password_changed div {
    font-size: 25px;
    color: green;
}