.registration_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration_form {
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.registration input {
    width: 300px;
    height: 25px;
}

.registration_info {
    display: flex;
    align-items: center;
    column-gap: 40px;
    font-size: 14px;
}

.registration_info span {
    cursor: pointer;
    text-decoration: underline;
}

.registration_info span:hover {
    color: black;
}

.registration_button:hover {
    border: 1px solid black;
    background-color: black;
    color: white;
}

.registration_button {
    width: 100px;
    height: 25px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #2f7575;
    color: white;
    font-size: 18px;
}

.registration_validation {
    color: #ff0900;
    font-size: 11px;
}