.bg {
    background-color: black;
}

.dropdown_admin {
    background-color: darkslategray;
    border-radius: 10px;
    border: 1px solid black;
}

.dropdown_admin:hover {
    background-color: black;
    border: 1px solid white;
}