.type_menu {
    display: flex;
    align-items: center;
    column-gap: 5px;
    height: 40px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
}

.type_item, .active_type {
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.type_item:hover, .active_type:hover {
    background-color: darkslategray;
    color: white;
}

.active_type {
    background-color: darkslategray;
    color: white;
}