.user_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.user_details {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid black;
}

.user_details div {
    margin: 5px;
}

.user_edit {
    font-size: 20px;
    cursor: pointer;
}

.user_edit:hover {
    transform: scale(1.2);
}

.hidden {
    display: none;
}