.forgot_password_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot_password_form {
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.forgot_password_input input {
    width: 250px;
}

.forgot_password_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.forgot_password_button {
    width: 200px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: darkslategray;
    color: white;
    font-size: 16px;
}

.forgot_password_button:hover {
    background-color: black;
}

.forgot_password_message {
    color: green;
}